<div style="margin-left: 40px">
<h1>Welcome to our Diet App</h1>
<p>You can calculate your daily calories and loss weight with us</p>
<% if current_user %>
    <p><%= link_to 'Log out', destroy_user_session_path, method: :delete %></p>
  <% else %>
    <p><%= link_to 'Sign in', user_session_path %> | <%= link_to 'Sign up', new_user_registration_path %></p>
<% end %>
</div>
